body {
    background-image: url("../images/simpleBackground4.jpg");       
}
div.wrap {
    width: 100%;
}
div.pHeader {
    width: 960px;
    position: static;
    display: flex;
    margin: 0 auto;
}
div.topNav {
    width: 100%;
    top: 0;
    border-bottom: 2px solid rgb(13, 140, 18);
}
button {
    width: 75px;
    height: 25px;
    background: none;
    font-weight: bolder;
    color: rgb(230, 29, 14);
}
#buttons {
    margin-left: 400px;
    margin-top: 50px;
}
.heading1 {
    margin-top: 30px;
    padding: 5px;
    color: rgb(230, 29, 14);
}
.heading2 {
    margin-top: 20px;
    color: rgb(230, 29, 14);
    border-bottom: 2px solid rgb(13, 140, 18);
}
div.contents {
    width: 960px;
    margin: 0 auto;
    background: rgb(236, 236, 236);
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
}
#myPic {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.myDetails {
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-family: calibri;
    word-spacing: 5px;
    line-height: 1.6;
}
.contactMe {
    padding: 20px;
}
#footer
{
    clear: both;
    border: 1px darkgrey;
    background:  rgb(236, 236, 236);
    color: rgb(230, 29, 14);
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

textarea {
    height: 150px;
    width: 90%;
}

button:hover {
    background-color: midnightblue;
}

button:active {
    background-color: olive;
}

.portfolioImg {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#fName, #email {
    width: 90%;
}

@media only screen and (max-width: 980px) {
    body {
        background-image: url("../images/980Background.jpg");
    }
    div.topNav {
        width: 100%;
    }
    div.pHeader {
        width: 70%;
    }
    .heading1 {
        width: 30%;
        float: left;
        white-space: nowrap;
    }
    #buttons {
        width: 40%;
        margin-right: 0px;
        margin-left: 200px;
    }
    div.contents {
        width: 70%;
    }
    #mypic {
        width: 20%;
    }
    .contactMe {
        width: 100%;
    }
    #footer {
        width: 100%;
    }
  }


  
@media only screen and (max-width: 768px) {
    body {
        background-image: url("../images/768Background.jpg");
    }
    div.topNav {
        width: 100%;
    }
    div.pHeader {
        width: 100%;
    }
    .heading1 {
        width: 30%;
        white-space: nowrap;
        text-align: left;
    }
    #buttons {
        width: 70%;
        margin-right: 0px;
        margin-left: 200px;
    }
    div.contents {
        width: 80%;
    }
    #mypic {
        width: 20%;
    }
    .contactMe {
        width: 100%;
    }
    #footer {
        width: 100%;
    }
  }

  
@media only screen and (max-width: 640px) {
    body {
        background-image: url("../images/640Background.jpg");
    }
    div.topNav {
        width: 100%;
        height: 75px;
    }
    div.pHeader {
        width: 100%;
    }
    .heading1 {
        width: 100%;
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
        text-align: center;
    }
    #buttons {
        display: inline-block;
        position: absolute;
        text-align: center;
        margin-top: 40px;
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }
    #footer {
        width: 100%;
    }

}
