body {
    background-image: url("../images/simpleBackground4.jpg");       
}
div.wrap {
    width: 100%;
}
div.pHeader {
    width: 960px;
    position: sticky;
    display: flex;
    margin: 0 auto;
}
div.topNav {
    width: 100%;
    top: 0;
    border-bottom: 2px solid rgb(13, 140, 18);
}
button {
    width: 75px;
    height: 25px;
    background: none;
    border: none;
    font-weight: bolder;
    color: rgb(230, 29, 14);
}
#buttons {
    margin-left: 400px;
    margin-top: 50px;
}
.heading1 {
    margin-top: 30px;
    padding: 5px;
    color: rgb(230, 29, 14);
}
.heading2 {
    margin-top: 20px;
    color: rgb(230, 29, 14);
    border-bottom: 2px solid rgb(13, 140, 18);
}
div.contents {
    width: 960px;
    margin: 0 auto;
    background: rgb(236, 236, 236);
    margin-bottom: 20px;
    padding: 15px;
}
#myPic {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.myDetails {
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-family: calibri;
    word-spacing: 5px;
    line-height: 1.6;
}
.contactMe {
    padding: 20px;
}
#footer
{
    clear: both;
    border: 1px darkgrey;
    background:  rgb(236, 236, 236);
    color: rgb(230, 29, 14);
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: relative;
    bottom: 0px;
}

button:hover {
    background-color: midnightblue;
}

button:active {
    background-color: olive;
}

.portfolioImg {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 25px;
    margin-bottom: 25px;
}